.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 20px;
    left: 0;
    bottom: 0;
  }
  
  .footer-item {
    margin: 0 90px;
    display: flex;
    align-items: center;
  }
  
  .footer-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
  
    .footer-item {
      margin: 10px;
    }
  }
  